h1{
   text-align : center;
   font-weight: bold;
   text-shadow: 2px 1.5px   whitesmoke
 }
 body{
   height:auto;
 }
.aboutus{
  margin-top: 12vh;
  color:black;
}
.aboutus h4{
  text-shadow: 2px 2px  black
}
.card{
  background-color: grey;
  padding:1%;
  margin:10px;
  box-shadow:0px 0px 2px 2px  white;
  border-radius: 10px;
  transition:.5s;
  color:white
}

.card:hover{
  transform: scale(1.05);
}

@media(max-width:768px){
  .aboutus{
    font-size:12px;
  }
}
