.profile-main-wraper{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    border: 1px solid #000000;
    margin-left: 20%;
}

.block-wraper{
    display: flex;
    justify-content: space-around;
}

.profile-main{
    padding:1%;
    text-align: start;
}

.block-wraper img{
    width:150px;
    height:150px;
    border-radius: 75px;
}

.content{
    display:inline-block;
    width: 120px; 
    padding-left: 250px;
 }

.value{
    display:inline-block;
    width: 300px;
    margin-left: 50px;
}

