.profile-main-wraper {
  margin: 10px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 2%;
  padding: 20px;
  text-align: start;
  border: 1px solid #000000;
  background-color: azure;
}
.pat-profile table {
    width:50%;
    font-size:12px;
    justify-content: center;
    border:2px double black;
    border-radius: 2%;
    box-shadow:0vh 0vh 1vh 1vh grey;
}

.profile-main img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.centered {
  display: flex;
  justify-content: center;
}
.profile-main button {
  padding: 10px;
  background-color: rgb(70, 153, 179);
  color: white;
  border: 1px solid rgb(70, 153, 179);
  background-color: 250ms;
}

.profile-main button:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(70, 153, 179);
}
.profile-main-wraper {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
  
