.profile-main-wraper {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 20%;
  text-align: start;
}

.profile-main {
  padding: 1%;
}

.profile-main img {
  width: 150px;
  height: 150px;
  border-radius: 75px;
}

.block-wraper {
  display: flex;
  justify-content: space-around;
}
